
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<div class="d1"></div>
<div class="form">
    <form action="/auth/register" method="POST">
        <h2>Register Form</h2>
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required class="txtb">   
        </div>
        <div class="form-item">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required class="txtb">
        </div>
        <div class="form-item"> 
            <label for="password">Password</label>
            <input type="text" id="Pw" name="password" required class="txtb">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
        <a href="/auth/login" style="text-decoration: none; color: #b1e2f8;">Login</a>
    </form>
    
</div>

</body>
</html>