
<header>
    <nav class="header-nav">
      <a class="header-title" href="/">Mybrary</a>
      <ul>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/books/new">Add Book</a></li>
      </ul>
    </nav>
    <form action="/auth/logout?_method=DELETE" method="POST">
    <button type="submit" id="logout" class="btn btn-danger">Log Out</button>
    </form>
  </header>